# Cache
__pycache__

# Local config
openradar/local*

# Local directories
var

# Configuration repository checkout
src

# Packages
*.egg-info

# Virtualenv
.venv

# Ignore generated config files
.idea
